.mainContainer {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mainContainer:nth-child(1) {
  /* margin-right: auto; */
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  padding: 40px;
  border-color: var(--primary);
}

.canvas {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  padding: 40px;
  border-color: var(--primary);
  height: calc(100% - var(--navHeight));
}

.inputContainer {
  margin: 0px;
  padding: 10px;
  content: "";
  text-align: left;
}

.inputContainer input {
  width: 100px;
}

.suggestionContainer {
  position: absolute;
  border-radius: 0 0 5px 5px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  width: 200px;
  padding: 5px 5px 5px 15px;
}

.suggestionContainer > ul > li {
  list-style: none;
}

.inputContainer input {
  height: 30px;
  min-width: 200px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(212, 212, 238);
}

.inputContainer p {
  padding-left: 10px;
  margin: 0;
  color: red;
  font-size: 1rem;
}

.createButton {
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  opacity: 0.9;
  background-color: var(--primary);
  border: 0ch;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

.createButton:hover {
  opacity: 1;
  transition: 0.15s;
}

.createButton:active {
  scale: 0.9;
  transition: 0.15s;
}

.submitButton {
  cursor: pointer;
  padding: 10px;
  opacity: 0.9;
  background-color: var(--primary);
  border: 0ch;
  border-radius: 5px;
}

.submitButton:hover {
  opacity: 1;
  transition: 0.15s;
}

.submitButton:active {
  scale: 0.9;
  transition: 0.15s;
}

.addButton {
  margin-top: 40px;
  color: green;
  filter: drop-shadow(3px 5px 2px rgba(0 0 0 / 0.4));
}

.addButton:active {
  opacity: 0.8;
}

.removeButton {
  margin-left: 10px;
  color: red;
  filter: drop-shadow(3px 5px 2px rgba(0 0 0 / 0.4));
}

.removeButton:active {
  opacity: 0.7;
}

.removeButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.addButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}
