.inputContainer {
  padding: 10px;
  text-align: left;
}

@keyframes SymptomInput {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inputContainer input {
  height: 30px;
  min-width: 200px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(212, 212, 238);
}

.inputContainerSymptom {
  display: flex;
  align-items: center;
}

.inputContainer p {
  padding-left: 10px;
  margin: 0;
  color: red;
  font-size: 1rem;
}
.createButton {
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  opacity: 0.9;
  background-color: var(--primary);
  border: 0ch;
  border-radius: 5px;
}

.createButton:hover {
  opacity: 1;
  transition: 0.15s;
}

.createButton:active {
  scale: 0.9;
  transition: 0.15s;
}

.form {
  border-radius: 10px;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  padding: 30px;
  border-color: var(--primary);
}

@keyframes formAnimation {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}

.submitButton {
  cursor: pointer;
  padding: 10px;
  opacity: 0.9;
  background-color: var(--primary);
  border: 0ch;
  border-radius: 5px;
}

.submitButton:hover {
  opacity: 1;
  transition: 0.15s;
}

.submitButton:active {
  scale: 0.9;
  transition: 0.15s;
}

.addButton {
  color: green;
  filter: drop-shadow(3px 5px 2px rgba(0 0 0 / 0.4));
}

.addButton:active {
  opacity: 0.8;
}

.removeButton {
  margin-left: 10px;

  color: red;
  filter: drop-shadow(3px 5px 2px rgba(0 0 0 / 0.4));
}

.removeButton:active {
  opacity: 0.7;
}

.removeButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.addButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}
