.container {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
}

.inputContainer {
  text-align: left;
  padding: 30px;
}

.inputContainer input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(212, 212, 238);
}

.inputContainer p {
  padding-left: 10px;
  margin: 0;
  color: red;
  font-size: 1rem;
}

.form {
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  border-color: var(--primary);
}

.submitButton {
  cursor: pointer;
  padding: 10px;
  opacity: 0.9;
  background-color: var(--primary);
  border: 0ch;
  border-radius: 5px;
}

.submitButton:hover {
  opacity: 1;
  transition: 0.15s;
}

.submitButton:active {
  scale: 0.9;
  transition: 0.15s;
}
