.inputContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inputContainer input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(212, 212, 238);
}

.inputContainer p {
  padding-left: 10px;
  margin: 0;
  color: red;
  font-size: 1rem;
}

.form {
  border-radius: 10px;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  padding: 30px;
  border-color: var(--primary);
  text-align: center;
}

.submitButton {
  position: relative;
  cursor: pointer;
  padding: 10px;
  opacity: 0.9;
  background-color: var(--primary);
  border: 0ch;
  border-radius: 5px;
}

.submitButton:hover {
  opacity: 1;
  transition: 0.15s;
}

.submitButton:active {
  scale: 0.9;
  transition: 0.15s;
}

.signingIn {
  animation: SigningIn 0.1s linear infinite;
}

@keyframes SigningIn {
  0% {
  }
  100% {
    opacity: 0.5;
  }
}
